@mixin form-style($bgColor, $borde){
    background-color: $bgColor;
    border: $borde;
    margin-top: 15px;
    margin-bottom: 15px;
  
}

.form-style{
    @include form-style(rgba(243, 186, 226, 0.5), solid)
}

@mixin btnForm($bg-btn, $m-l, $m-r, $color-letra){
    background-color: $bg-btn ;
    margin-left: $m-l;
    margin-right: $m-r;
    color: $color-letra;
}

.btn-peluqueria {
    @include btnForm(rgba(248, 152, 216, 1.00), 40%, auto, rgb(228, 132, 67))
}

@mixin element-center($m-l, $m-r ) {
    margin-left: $m-l;
    margin-right: $m-r;
}

.iconos-tienda-individial{
    @include element-center(40%, auto )
}


@mixin img-size($alto, $ancho) {
    height: $alto;
    width: $ancho;
}
.maps{
    @include element-center(20%, auto );
    @include img-size(70vh, 40vw)
}