

.bg-gradient{
    /* background: linear-gradient(to right rgb(216, 155, 165), rgb(180, 49, 71)); */
    border: solid;
    
}

/* https://i.ibb.co/BrDKb6x/ramo.jpg
https://i.ibb.co/p6HbHBR/2.jpg
https://i.ibb.co/hWBHGVY/3.jpg */

.img-carrusel{
    height:"40%";
 
}

/* animacion  para subtitulo*/
@keyframes textAlpha{
    from{opacity: 0;}
    to{opacity: 1;}
}
.animate-subtitulo{
    animation-name: textAlpha;
    animation-duration: 4s;
    animation-delay: 1s;
}

/*fin de animaciones*/

/*estilo para subtitulo*/
#subtitulo-en-bg{
    color:  rgb(0, 0, 0);
    font-size: 4rem;
    /* text-align: center; */
    /* position: absolute; */
    /* top: 80px; */
    top: 40%;
    left: 10%;
    border: solid;
    
}
/*fin de subtitulo*/

/*CSS para titulo*/
h1{
    margin-left: 10%;
    
}
/*fin css para titulo*/

/*Cards*/
.img-card{
   
}

/*footer*/
.footer {
    grid-area: footer;
    background-color: rgba(213, 59, 218, 0.67);
    padding-left: 8px;
    
}
/*se agrega margin al p, para que no quede una linea blanca debajo del footer*/
.margin-footer{
    margin-bottom: 0;
}