<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios-Peluqueria-Tu-Estilo</title>
    <link rel="shortcut icon" href="../icons/favicom.png">
    <link rel="stylesheet" href="../hojaDeEstilo.css">
</head>
<body>
    <div class="contenedor">
        <header>
            <nav class="nav">
                <a href="../index.html" class="izq">
                    <img src="../icons/Hair-Barbers-Scissors-icon.png" alt="logo de la Peluqueria Tu Estilo">
                </a>
                <ul>
                    <li>
                        <a href="../index.html">Inicio</a>
                    </li>
                    <li>
                        <a href="../views/turnos.html">Turnos</a>
                    </li>
                    <li>
                        <a href="../views/servicios.html">Servicios</a>
                    </li>
                    <li>
                        <a href="../views/tienda.html">Tienda</a>
                    </li>
                    <li>
                        <a href="../views/contacto.html">Contacto</a>
                    </li>
                    <li>
                        <input type="search" placeholder="Buscar...">
                    </li>
                </ul>
            </nav>
        </header>
    
        <main class="content">
            <h1 class="centrar-titulo">Servicios</h1>
            <section >
                <article class="section-bg-color">
                    <h3 class="centrar-titulo">2X1 en Alisados:</h3>
                    <div class="centrar-img">
                        <img class="separar-img"
                            srcset="https://i.ibb.co/LRb4NqJ/promo-1.jpg 480px"
                            sizes="(max-width: 320px) 10px"
                            src="https://i.ibb.co/LRb4NqJ/promo-1.jpg" alt="promo-1" >
                        <img class="separar-img" src="https://i.ibb.co/T0j0qQs/promo-1-2.jpg" alt="promo-1-2" >
                    </div>
                    <p>Promocion disponible todos los dias miercoles de 8 a 14 hr.</p>
                </article>
                <article>
                    <h3 class="centrar-titulo">25% de descuento en efectivo:</h3>
                    <div class="centrar-img">
                        <img class="separar-img" src="https://i.ibb.co/M98kHfK/promo-3.jpg" alt="promo-3" >
                        <img class="separar-img" src="https://i.ibb.co/pyMBPY9/promo-3-2.jpg" alt="promo-3-2" >
                    </div>
                    <p>Todos los dias tenes descuento si pagas en efectivo, en todos nuestros servicios. ¡No te lo podes perder! </p>
                </article>
                <article class="section-bg-color">
                    <h3 class="centrar-titulo">Coloracion:</h3>
                    <div class="centrar-img">
                        <img class="separar-img" src="https://i.ibb.co/6RKgcH6/promo-2.jpg" alt="promo-2">
                        <img class="separar-img" src="https://i.ibb.co/8gWnjj0/promo-2-2.jpg" alt="promo-2-2">
                    </div>
                    <p>La primera vez que te haces coloracion con nosotros, tiene un 10 % de descuento con todos los medios de pago.</p>
                </article>
            </section>
    
        </main>
        <footer class="footer">
            <div class="padding-footer">
                <h3>Peluqueria Tu Estilo</h3>
            <div>
                    <p>Neiva 5627 - Villa El Libertador</p>
                    <p>Cordoba, Capital</p>
                    <p>Argentina</p>
            </div>
                <p><b>By Rocio Ramirez</b></p>
            </div>
        </footer>
    </div>
</body>
</html>