<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

      <!-------metas seo------->
      <meta name="description" content="Conoce nuestros servicios, mira el antes y el despues de los clientes. Observa la calidad de nuestros trabajos. ">
      <meta name="author" content="Rocio Ramirez">
      <meta name="keywords" content="corte, alisados, descuentos, coloracion, 2 x 1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!--CSS propio-->
    <link rel="shortcut icon" href="..icons/favicom.png">
    <link rel="stylesheet" href="../css/reducido.css">
    <title>Servicios-Peluqueria-Tu-Estilo</title>
  </head>
  <body>

    <header>
            <!--inicio de navbar-->
        <nav class="navbar navbar-expand-lg navbar-light bg-gradient">
            <div class="container-fluid">
            <a class="navbar-brand" href="../index.html">
                <img src="../icons/Hair-Barbers-Scissors-icon.png" alt="logo de la Peluqueria Tu Estilo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav  ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="../index.html">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../views/laPeluqueria.html">La Peluqueria</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../views/servicios.html">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../views/tienda.html">Tienda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../views/contacto.html">Contacto</a>
                </li>
                </ul>
                
            </div>
            </div>
        </nav>
      <!--fin de navbar-->
    </header>
    <main>
        <h1 class="titulo">SERVICIOS</h1>
        <section class="container">
            <article class=""> <!--inicio articulo alisados-->
                <h3 class="centrar-titulo">2X1 en alisados:</h3>
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    <div class="col">
                      <div class="card">
                        <img src="https://i.ibb.co/LRb4NqJ/promo-1.jpg" class="card-img-top" alt="el antes de realizar el alisado">
                        <div class="card-body">
                          <h5 class="card-title">Antes</h5>
                          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <img src="https://i.ibb.co/T0j0qQs/promo-1-2.jpg" class="card-img-top" alt="el despues de realizar el alisado">
                        <div class="card-body">
                          <h5 class="card-title">Despues</h5>
                          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                      </div>
                    </div>
                  </div>
            </article>
          </section>
          <section class="container-fluid bg-pink">
            <article class="container">
              <h3 class="centrar-titulo">25% de descuento en efectivo:</h3>
              <div class="row row-cols-1 row-cols-md-2 g-4">
                  <div class="col">
                    <div class="card">
                      <img src="https://i.ibb.co/M98kHfK/promo-3.jpg" class="card-img-top" alt="imagen de peluquero con cliente">
                      <div class="card-body">
                        <h5 class="card-title">Antes</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card">
                      <img src="https://i.ibb.co/pyMBPY9/promo-3-2.jpg" class="card-img-top" alt="imagen de peluquero lavandola cabeza del cliente">
                      <div class="card-body">
                        <h5 class="card-title">Despues</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      </div>
                    </div>
                  </div>
                </div>
          </article>
          </section >

          <section class="container">
            <article>
              <h3 class="centrar-titulo">Coloracion:</h3>
              <div class="row row-cols-1 row-cols-md-2 g-4">
                  <div class="col">
                    <div class="card">
                      <img src="https://i.ibb.co/6RKgcH6/promo-2.jpg" class="card-img-top" alt="el antes de realizar coloracion">
                      <div class="card-body">
                        <h5 class="card-title">Antes</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card">
                      <img src="https://i.ibb.co/8gWnjj0/promo-2-2.jpg" class="card-img-top" alt="el despues de realizar coloracion">
                      <div class="card-body">
                        <h5 class="card-title">Despues</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      </div>
                    </div>
                  </div>
                </div>
          </article>
          </section>
    </main>
    <!--footer propio-->
    <footer class="footer">

        <div class="padding-footer container">
            <h3>Peluqueria Tu Estilo</h3>
            <div>
                <p>Neiva 5627 - Villa El Libertador</p>
                <p>Cordoba, Capital</p>
                <p>Argentina</p>
            </div>
            <p class="margin-footer"><b>By Rocio Ramirez</b></p>
        </div>
    </footer>


    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>