<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios-Peluqueria-Tu-Estilo</title>
    <link rel="shortcut icon" href="../icons/favicom.png">
    <link rel="stylesheet" href="../hojaDeEstilo.css">
</head>
<body>
    <header>
        <nav>
            <a href="../index.html" class="izq">
                <img src="../icons/Hair-Barbers-Scissors-icon.png" alt="logo de la Peluqueria Tu Estilo">
            </a>
            <ul>
                <li>
                    <a href="../index.html">Inicio</a>
                </li>
                <li>
                    <a href="../views/turnos.html">Turnos</a>
                </li>
                <li>
                    <a href="../views/servicios.html">Servicios</a>
                </li>
                <li>
                    <a href="../views/tienda.html">Tienda</a>
                </li>
                <li>
                    <a href="../views/contacto.html">Contacto</a>
                </li>
                <li>
                    <input type="search" placeholder="Buscar...">
                </li>
            </ul>
        </nav>
        <h1>Servicios</h1>
    </header>

    <main>
        <section>
            <article>
                <h3>2X1 en Alisados:</h3>
                <br>
                <a href="https://ibb.co/8sTFYRd"><img src="https://i.ibb.co/LRb4NqJ/promo-1.jpg" alt="promo-1" border="0" width="20%" height="20%"></a>
                <a href="https://ibb.co/4SvSgbH"><img src="https://i.ibb.co/T0j0qQs/promo-1-2.jpg" alt="promo-1-2" border="0" width="20%" height="20%"></a>
                
                <p>Promocion disponible todos los dias miercoles de 8 a 14 hr.</p>
            </article>
            <article>
                <h3>25% de descuento en efectivo:</h3>
                <br>
                <a href="https://ibb.co/LvQdyrB"><img src="https://i.ibb.co/M98kHfK/promo-3.jpg" alt="promo-3" border="0" width="20%" height="20%"></a>
                <a href="https://ibb.co/0t6RXHd"><img src="https://i.ibb.co/pyMBPY9/promo-3-2.jpg" alt="promo-3-2" border="0" width="20%" height="20%"></a>
                <p>Todos los dias tenes descuento si pagas en efectivo, en todos nuestros servicios. ¡No te lo podes perder! </p>
            </article>
            <article>
                <h3>Coloracion:</h3>
                <a href="https://ibb.co/hRGDxBp"><img src="https://i.ibb.co/6RKgcH6/promo-2.jpg" alt="promo-2" border="0" width="20%" height="20%"></a>
                <a href="https://ibb.co/0ygpffc"><img src="https://i.ibb.co/8gWnjj0/promo-2-2.jpg" alt="promo-2-2" border="0" width="20%" height="20%"></a>
                
                <p>La primera vez que te haces coloracion con nosotros, tiene un 10 % de descuento con todos los medios de pago.</p>
            </article>
        </section>

    </main>
    <footer class="bg-footer">

        <!-- <a href="https://www.instagram.com/" target="_blank">
            <img src="icons/Instagram-icon.png" alt="icono de instagram">
        </a>

        <a href="https://es-la.facebook.com/login/device-based/regular/login/" target="_blank">
            <img src="icons/social-facebook-button-blue-icon.png" alt="icono de facebook">
        </a>
        
        <a href="https://goo.gl/maps/vo9ZR5jNAijY7hXa8" target="_blank">
            <img src="icons/Maps-Location-icon.png" alt="icono de ubicacion">
        </a> -->
        <div class="padding-footer">
            <h3>Peluqueria Tu Estilo</h3>
            <div>
                <p>Neiva 5627 - Villa El Libertador</p>
                <p>Cordoba, Capital</p>
                <p>Argentina</p>
            </div>
        </div>

        <div class="my-name">
            <p><b>By Rocio Ramirez</b></p>
        </div>
        
    </footer>
</body>
</html>