<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda-Peluqueria-Tu-Estilo</title>
    <link rel="shortcut icon" href="../icons/favicom.png">
    <link rel="stylesheet" href="../hojaDeEstilo.css">
</head>
<body>
    <div class="contenedor">
        <header>
            <nav class="nav">
                <a href="../index.html">
                    <img src="../icons/Hair-Barbers-Scissors-icon.png" alt="logo de la Peluqueria Tu Estilo">
                </a>  
                <ul>
                    <li>
                        <a href="../index.html">Inicio</a>
                    </li>
                    <li>
                        <a href="../views/turnos.html">Turnos</a>
                    </li>
                    <li>
                        <a href="../views/servicios.html">Servicios</a>
                    </li>
                    <li>
                        <a href="../views/tienda.html">Tienda</a>
                    </li>
                    <li>
                        <a href="../views/contacto.html">Contacto</a>
                    </li>
                    <li>
                        <input type="search" placeholder="Buscar...">
                    </li>
                </ul>
            </nav> 
            
        </header>
        
        <main class="content">
            <h1 class="centrar-titulo">Tienda</h1>
            <section class="section-bg-color">
                <h3 >Medios de pago:</h3>
               <div class="iconos-tienda">
                    <a class="iconos-tienda-individial" href="https://www.visa.com.ar/" target="_blank">
                        <img  src="../icons/credit-card-icon.png" alt="icono de tarjeta de credito">
                        <p>Tarjetas de credito</p>
                    </a>
                    <a class="iconos-tienda-individial" href="https://rapipago.com.ar/rapipagoWeb/" target="_blank">
                        <img  src="../icons/money-icon.png" alt="icono de efectivo">
                        <p>Efectivo / Debito</p>
                    </a>
                    <a class="iconos-tienda-individial" href="https://www.mercadopago.com.ar/home" target="_blank">
                        <img  src="../icons/wire-transfer-icon.png" alt="icno de transferencia bancaria">
                        <p>Transferencia bancaria</p>
                    </a>
               </div>
                
            </section>
            <section>
                <h3>Detalle de pedido:</h3>
                <form class="style-form" action="pedido.js" id="pedido">
                    <div class="letra-form">
                        <fieldset >
                            <legend>Pedido</legend>
                            <select name="productos" id="">
                                <option value="shampoo">Shampoo</option>
                                <option value="acondicionador">Acondicionador</option>
                                <option value="accesorioCabello">Accesorio para el Cabello</option>
                            </select>
                            <label for="cant">Cantidad</label>
                            <input type="number" id="cant">
                            <br>
                            <label for="medioDePago">Medio de pago:</label>
                            <br>
                            <label for="transf">Transferencia Bancaria</label>
                            <input type="radio" id="transf" name="pago" value="transferencia">
                            <label for="cred">Tarjeta de credito</label>
                            <input type="radio" id="cred" name="pago" value="credito">
                            <label for="deb">Debito</label>
                            <input type="radio" id="deb" name="pago" value="debito">
                            <br>
                            <input type="reset" value="Cancelar">
                            <input type="submit" value="Enviar">
                            
                        </fieldset>
                    </div>
                </form>
            </section>
        </main>
       
        <footer class="footer">
            <div class="padding-footer">
                <h3>Peluqueria Tu Estilo</h3>
                <div>
                    <p>Neiva 5627 - Villa El Libertador</p>
                    <p>Cordoba, Capital</p>
                    <p>Argentina</p>
                </div>
                <p><b>By Rocio Ramirez</b></p>
            </div>
        </footer>
    </div>
    
</body>
</html>