<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turnos-Peluqueria-Tu-Estilo</title>
    <link rel="shortcut icon" href="../icons/favicom.png">
    <link rel="stylesheet" href="../hojaDeEstilo.css">
</head>
<body>
    <header>
        <a href="../index.html">
            <img src="../icons/Hair-Barbers-Scissors-icon.png" alt="logo de la Peluqueria Tu Estilo">
        </a>   
        <br>
            <label for="">By Mara Ibarra</label> 
        <hr>
        <h1>TURNOS</h1>
    </header>
    <nav>
        <ul>
            <li>
                <a href="../index.html">Inicio</a>
            </li>
            <li>
                <a href="../views/turnos.html">Turnos</a>
            </li>
            <li>
                <a href="../views/promociones.html">Promociones</a>
            </li>
            <li>
                <a href="../views/tienda.html">Tienda</a>
            </li>
            <li>
                <a href="../views/contacto.html">Contacto</a>
            </li>
        </ul>
        <input type="text" placeholder="Search..">
        <img src="../icons/Search-icon.png" alt="icono de busqueda">
    </nav> 
    <br>
    
    <main>
        <section><h4>Necesitas un usuario para reservar un turno:</h4>
        <br>
        <img src="../icons/Users-Name-icon.png" alt="icono de usuario">
        <a href="#ingresar">Ingresar</a>
        <a href="#registrarse">/Registrarse</a>
        <br> <br> <br>
        <h5>Ingresar:</h5>
        
        <form action="user.js" id="ingresar">
            <fieldset>
                <legend>Usuario</legend>
                <label for="nombre">Nombre de usuario:</label>
                <input type="text" id="nombre">
                <label for="pass">Contraseña:</label>
                <input type="password" id="pass">
                <input type="reset" value="Cancelar">
                <input type="submit" value="Enviar">
            </fieldset>
        </form>
        <br>
        <img src="../img/video.5.jpg" alt="imagen de modelo" width="40%" height="20%">
        <h5>Resgistrate</h5>
        <form action="registro.js" id="registrarse">
            <fieldset>
                <legend>Nuevo Usuario</legend>
                <label for="nom">Nombre de usuario:</label>
                <input type="text" id="nom">
                <label for="apellido">Apellido:</label>
                <input type="text" id="apellido">
                <label for="email">Email:</label>
                <input type="email" id="email">
                <label for="passw">Contraseña:</label>
                <input type="password" id="passw">
                <input type="reset" value="Cancelar">
                <input type="submit" value="Enviar">
            </fieldset>
        </form>
        <br>
    
    </section>
    </main>
    <footer>
        
        <a href="https://web.whatsapp.com/" target="_blank">
            <img src="../icons/WhatsApp.webp" alt="icono de WhatsApp">
        </a>
        
        <a href="https://www.instagram.com/" target="_blank">
            <img src="../icons/Instagram-icon.png" alt="icono de instagram">
        </a>
        
        <a href="https://es-la.facebook.com/login/device-based/regular/login/" target="_blank">
            <img src="../icons/social-facebook-button-blue-icon.png" alt="icono de facebook">
        </a>

        <a href="https://goo.gl/maps/vo9ZR5jNAijY7hXa8" target="_blank">
            <img src="../icons/Maps-Location-icon.png" alt="icono de ubicacion">
        </a>
         
    </footer>
</body>
</html>