<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-------metas seo------->
    <meta name="description" content="Si estas buscando tratamientos de calidad para tu cabello, saca un turno con nosotros y renova tu look. ">
    <meta name="author" content="Rocio Ramirez">
    <meta name="keywords" content="turnos, corte, peinados, coloracion, estetica, belleza, cambio de look">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!--CSS propio-->
    <link rel="shortcut icon" href="..icons/favicom.png">
    <link rel="stylesheet" href="../css/reducido.css">
    <title>Turnos-Peluqueria-Tu-Estilo</title>
  </head>
  <body>

    <header>
            <!--inicio de navbar-->
        <nav class="navbar navbar-expand-lg navbar-light bg-gradient">
            <div class="container-fluid">
            <a class="navbar-brand" href="../index.html">
                <img src="../icons/Hair-Barbers-Scissors-icon.png" alt="logo de la Peluqueria Tu Estilo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav  ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="../index.html">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../views/turnos.html">Turnos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../views/servicios.html">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../views/tienda.html">Tienda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../views/contacto.html">Contacto</a>
                </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
            </div>
            </div>
        </nav>
      <!--fin de navbar-->
    </header>
    <main>
        <section class="container">
            <h1 class="titulo ">TURNOS</h1>
            <div class="card bg-dark text-white">
                <img src="https://i.ibb.co/k2MwJzG/pelu-luli.jpg" class="card-img" alt="...">
                <div class="card-img-overlay">
                  <h3 class="card-title">Solicita tu turno:</h3>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Debitis enim temporibus amet nihil illum et quod laborum, 
                    tempore cupiditate libero animi consequuntur nulla vel dolore 
                    magni facere quos. Quae, saepe.This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error totam perspiciatis doloribus odit iusto, perferendis, dolorem in, optio porro obcaecati harum quisquam 
                dignissimos id distinctio voluptate ipsam tenetur et veniam.</p>
                  <p class="card-text">Last updated 3 mins ago</p>
                  <a class="tamaño-letra-link" href="https://www.google.com.ar/?hl=es" target="_blank">reservar turno</a>
                </div>
              </div>
            
        </section>
    </main>
    <!--footer propio-->
    <footer class="footer">

        <div class="padding-footer container" >
            <h3>Peluqueria Tu Estilo</h3>
            <div>
                <p>Neiva 5627 - Villa El Libertador</p>
                <p>Cordoba, Capital</p>
                <p>Argentina</p>
            </div>
            <p class="margin-footer"><b>By Rocio Ramirez</b></p>
        </div>
    </footer>


    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>